{% extends 'common/base.html' %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans 'Welcome!' %}</h1>
            <p>{% trans 'Acamar is an open source project for sales management' %}</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'common:register' %}" role="button">{% trans 'Register' %}</a></p>
        </div><!-- container -->
    </div><!-- jumbotron -->
</div><!-- container -->

{% endblock %}
