<div id="navigation-bar" class="container">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!-- navbar-toggle -->
            <a class="navbar-brand" href="#">Acamar</a>
        </div><!-- navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
            </ul><!-- navbar-nav -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.get_full_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'common:logout' %}">Cerrar sesión</a>
                        </li>
                    </ul><!-- dropdown-menu -->
                </li><!-- dropdown -->
                {% else %}
                <li>
                    <a href="{% url 'common:login' %}">Iniciar sesión</a>
                </li>
                <li>
                    <a href="#">Registro</a>
                </li>
                {% endif %}
            </ul><!-- navbar-nav -->
        </div><!-- nav-collapse -->
    </div><!-- navbar -->
</div><!-- container -->
